{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 1
            }
        }
    ]
}
